
/*######## Página de perfil y achievements #########*/

.user-page-container {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/home-background.png');
    background-size: cover;
}

.smaller-user-page-container {
    height: 100%;
    width: 60%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F0F7C3 0%, #F0F7C3 40%, #D7E88A 100%);;
}
/*######## User achievement page #########*/

.achievement-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    height: 600px;       
    overflow-y: auto;   
    scrollbar-width: 10px; 
    scrollbar-color: #ABCD61 #F0F7C3; 
    
}

.all-achievements {
    padding: 10px;
    background-color: #FDFEFC;
    border: solid 6px #F0BFFA;
    border-radius: 18px;
}

.achievement-grid::-webkit-scrollbar {
    width: 10px;
}

.achievement-grid::-webkit-scrollbar-track {
    background: #F0F7C3;
    border-radius: 10px;
}

.achievement-grid::-webkit-scrollbar-thumb {
    background: #ABCD61;
    border-radius: 10px;
}

.achievement-grid::-webkit-scrollbar-thumb:hover {
    background: #ABCD61;
}

.achievement-badge {
  display: flex;
  align-items: center;
  background-color: #F0F7C3;
  border: 6px dashed #ABCD61;
  border-radius: 18px;
  padding: 8px;
  margin: 12px;
  max-width: 400px;
  display : flex;
}

.achievement-image img {
  width: 80px;
  height: 80px;
  border: 6px solid #ABCD61;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 16px;
}

.achievement-content {
    color: #597C39;
    background-color: #F0F7C3;
}