/*######## General #########*/

.user-page-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/home-background.png');
    background-size: cover;
}

.smaller-user-page-container {
    color:#704ABA;
    height: 100%;
    width: 70%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center, flex-end;
    align-items: center;
    background: linear-gradient(180deg, #F0F7C3 0%, #F0F7C3 40%, #D7E88A 100%);

}

/*######## PERFIL #########*/

/* Profile info description */

.profileInfo {
    padding: 16px;
    width: 100%;
    height: 130px;
    color:#597C39;
    background-color: #FDFEFC;
    border: #597C39;
    border-radius: 20px;
}

.profile-avatar img {
    width: 80%;
    height: 40%;
    border: 6px solid #ABCD61;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-right: 16px;

}

.profile-edit-button {
    background-color: #ABCD61; /* Button background color */
    color: white;             
    border: 2px dashed white; 
    border-radius: 10px;       /* Rounded corners */
    padding: 10px 20px;       
    font-size: 30px;          
    cursor: pointer;           
    transition: background-color 0.3s, transform 0.2s; /* Transition effects */
    display: flex;             
    align-items: center;       
    margin: 0 auto;            
}

.profile-edit-button-2 {
    background-color: #704ABA; /* Button background color */
    color: white;             
    border: 2px dashed white; 
    border-radius: 10px;       /* Rounded corners */
    padding: 10px 20px;       
    font-size: 30px;          
    cursor: pointer;           
    transition: background-color 0.3s, transform 0.2s; /* Transition effects */
    display: flex;             
    align-items: center;       
    margin: 0 auto;            
}
/* Player statistics and recent achievements */

.profile-small-container {
    font-size: 20px;
    color: #704ABA;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    border-radius: 20px;
    height: 400px;
    max-height: 50%;
    padding: 30px;
    background-color: #FDFEFC;
    border: solid 6px #F0BFFA;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 10px;
    scrollbar-color: #CA78F0 #F0BFFA;
}


.profile-small-container::-webkit-scrollbar {
    width: 10px;
}

.profile-small-container::-webkit-scrollbar-track {
    background: #F0BFFA;
    border-radius: 10px;
}

.profile-small-container::-webkit-scrollbar-thumb {
    background: #CA78F0;
    border-radius: 10px;
}

.profile-small-container::-webkit-scrollbar-thumb:hover {
    background: #b366d4;
}

/*######## User achievement page #########*/

.achievement-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    height: 100%;
    overflow-y: auto;   
    scrollbar-width: 10px; 
    scrollbar-color: #ABCD61 #F0F7C3; 
    
}

.all-achievements {
    margin: 15px;
    height: 43%;
    padding: 10px;
    background-color: #FDFEFC;
    border: solid 6px #F0BFFA;
    border-radius: 20px;
}

.achievement-grid::-webkit-scrollbar {
    width: 10px;
}

.achievement-grid::-webkit-scrollbar-track {
    background: #F0F7C3;
    border-radius: 10px;
}

.achievement-grid::-webkit-scrollbar-thumb {
    background: #ABCD61;
    border-radius: 10px;
}

.achievement-grid::-webkit-scrollbar-thumb:hover {
    background: #ABCD61;
}

.achievement-badge {
  display: flex;
  align-items: center;
  background-color: #F0F7C3;
  border: 6px dashed #ABCD61;
  border-radius: 20px;
  padding: 8px;
  margin: 12px;
  width: 400px;
  display : flex;
}

.achievement-badge-obtained {
  display: flex;
  align-items: center;
  background-color: #F0BFFA;
  border: 6px dashed #CA78F0;
  border-radius: 20px;
  padding: 8px;
  margin: 12px;
  width: 400px;
  display : flex;
}

.achievement-image-obtained img {
  width: 80px;
  height: 80px;
  border: 6px solid #CA78F0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 16px;
}


.achievement-content-obtained {
    color: #704ABA;
    background-color: #F0BFFA;
}

.achievement-image img {
  width: 80px;
  height: 80px;
  border: 6px solid #ABCD61;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 16px;
}

.achievement-content {
    color: #597C39;
    background-color: #F0F7C3;
}