.page-container {
    background: linear-gradient(var(--L4-purple) 0%, var(--L3-purple) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.game-area {
    width:75%;
    height: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}



/* ################ Turn Manager ################ */



.turns {
    position: relative;
    width: 25%;
    height: 25%;
}

.turn-manager-movement {
    background: none;
    width: 100%;
    border-right: none;
    padding-left: 0.5vh;
    padding-top: 6.5vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(10, auto);
    grid-auto-flow: column;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    user-select: none;
}

.turn-manager-visual {
    background: linear-gradient(var(--L2-green) 0%, var(--L3-green) 100%);
    width: 100%;
    border-right: 1vh dashed var(--L1-green);
    padding-left: 0.5vh;
    padding-top: 6.5vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(10, auto);
    grid-auto-flow: column;
    place-items: center;
    position: relative;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}


.turn-image {
    min-width: 65%;
    min-height: 65%;
    width:65%;
    margin: 5%;
    pointer-events: none;
    user-select: none;
}

.turn-image img {
    width:100%;
    border-radius: 100%;
    border: 0.5vh solid var(--L3-green);
    pointer-events: none;
    user-select: none;
}

.turn-indicator {
    min-width: 65%;
    min-height: 65%;
    width:65%;
    margin: 5%;
    pointer-events: none;
    user-select: none;
}

.turn-indicator img {
    width:100%;
    border-radius: 100%;
    pointer-events: none;
    user-select: none;
}


.turn-image-empty {
    min-width: 65%;
    min-height: 65%;
    width:65%;
    margin: 5%;
    pointer-events: none;
    user-select: none;
}

.turn-image-empty img {
    width:100%;
    border-radius: 100%;
    border: none;
    pointer-events: none;
    user-select: none;
}

.turn-propagation {
    min-width: 65%;
    min-height: 10%;
    border-top: 0.5vh solid var(--L2-purple);
    border-bottom: 0.5vh solid var(--L2-purple);
    background-image: url('../../../public/board/propagation_bg.png');
    background-size: cover;
    display: flex;
    margin-top:5%;
    margin-bottom: 5%;
    justify-content: center;
    pointer-events: none;
    user-select: none;
}
.turn-propagation img{
    width:65%;
    border-radius: 100%;
    pointer-events: none;
    user-select: none;
}


/* ################ Contamination bar ################ */

.contamination-GREEN {
    width: 70%;
    background: var(--L1-green);
    border: 0.8vh dashed var(--L2-green);
    border-radius: 2vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin: 1%;

}

.contamination-GREEN-counter {
    width: 8vh;
    height: 8vh;
    border: var(--L3-green) 0.5vh dashed;
    border-radius: 50%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: var(--L4-purple);
    background: var(--L2-green);
}

.contamination-PURPLE {
    width: 70%;
    background: var(--L1-purple);
    border: 0.8vh dashed var(--L2-purple);
    border-radius: 2vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin: 1%;
}
.contamination-PURPLE-counter {
    width: 8vh;
    height: 8vh;
    border: var(--L3-purple) 0.5vh dashed;
    border-radius: 50%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: var(--L4-purple);
    background: var(--L2-purple);
}

.contamination-PURPLE-counter img {
    height: 10vh;
}
.contamination-GREEN-counter img {
    height: 10vh;
}

.petriplatesArea tr{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.petriplate {
    position: relative;
    width: 28vh;
    height: 21vh; /* Add explicit height */
}

.petriplate-bg {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

.petriplate-bg img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.petriplate-microbes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
    pointer-events: none;
    user-select: none;
}

.petriplate-microbes img {
    width: 8vh;
    height: auto;
}


