.page-container {
    background: linear-gradient(var(--L4-purple) 0%, var(--L3-purple) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.turns {
    position: relative;
    width: 25%; /* Set a fixed width for the container */
    height: 25%;
}

.turn-manager-movement {
    background: none;
    width: 100%; /* Use 100% of the parent container */
    border-right: none;
    padding-left: 0.5vh;
    padding-top: 6.5vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(10, auto);
    grid-auto-flow: column;
    place-items: center;
    position: absolute; /* Position absolutely */
    top: 0;
    left: 0;
    z-index: 2; /* Higher z-index to be on top */
    pointer-events: none; /* Allow clicks to pass through if needed */
}

.turn-manager-visual {
    background: linear-gradient(var(--L2-green) 0%, var(--L3-green) 100%);
    width: 100%; /* Use 100% of the parent container */
    border-right: 1vh dashed var(--L1-green);
    padding-left: 0.5vh;
    padding-top: 6.5vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(10, auto);
    grid-auto-flow: column;
    place-items: center;
    position: relative; /* Position relatively */
    z-index: 1; /* Lower z-index to be behind */
}


.turn-image {
    min-width: 65%;
    min-height: 65%;
    width:65%;
    margin: 5%;
}

.turn-image img {
    width:100%;
    border-radius: 100%;
    border: 0.5vh solid var(--L3-green);
}

.turn-indicator {
    min-width: 65%;
    min-height: 65%;
    width:65%;
    margin: 5%;
}

.turn-indicator img {
    width:100%;
    border-radius: 100%;
}


.turn-image-empty {
    min-width: 65%;
    min-height: 65%;
    width:65%;
    margin: 5%
}

.turn-image-empty img {
    width:100%;
    border-radius: 100%;
    border: none;
}

.turn-propagation {
    min-width: 65%;
    min-height: 10%;
    border-top: 0.5vh solid var(--L2-purple);
    border-bottom: 0.5vh solid var(--L2-purple);
    background-image: url('../../../public/board/propagation_bg.png');
    background-size: cover;
    display: flex;
    margin-top:5%;
    margin-bottom: 5%;
    justify-content: center;
}
.turn-propagation img{
    width:65%;
    border-radius: 100%;
}
.game-area {
    width:75%;
}