

.admin-page-container {
  margin: 20px;
  z-index: -1;
  display: flex;
  size: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #704ABA;
  height: 100%; /* Ensure the body takes the full height */
  margin: 0;    /* Remove default margin */
  background: linear-gradient(180deg, #F0F7C3 0%,  #D7E88A  40%, #F0F7C3 100%);
}
  



.admin-page-container h2 {
  color: #597C39;
}
.custom-form-input {
  position: relative;
}

.custom-form-input-label {
  position: absolute;
  top: 0;
  left: 5px;
  transition: transform 0.5s, color 0.3s;
  transform: translateY(-15px) scale(0.7);
  transform-origin: top left;
  color: #23c483;
  cursor: pointer;
}

.custom-form-input-label:after {
  content: "*";
  color: #cc0033 !important;
}

.custom-input,
.custom-textarea{
    width: 100% !important;
    font-family: inherit !important;
    font-size: 1rem !important;
    color: var(--color-input) !important;
    padding: 0.6em 0.3em !important;
    outline: none !important;
    background-color: transparent !important;
    margin: 20px 0;
}

.custom-input{
  border: none !important;
  border-bottom: 1px solid var(--main-button-hover-dark-color) !important;
}

.custom-input:disabled{
  background-color: rgb(239, 239, 239) !important;
}

.custom-textarea{
  border: 1px solid var(--main-button-hover-dark-color) !important;
}

.custom-button-row{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.control-panel-button {
    background-color: #597C39; /* Button background color */
    color: white;              /* Text color */
    border: 2px dashed white;              /* Remove default border */
    border-radius: 10px;       /* Rounded corners */
    padding: 10px 20px;       /* Padding for the button */
    font-size: 20px;          /* Font size */
    cursor: pointer;           /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Transition effects */
}

.control-panel-button:hover {
    background-color: #597C39; /* Darker shade on hover */
    transform: scale(1.05);    /* Slightly enlarge on hover */
}

.control-panel-button:focus {
    outline: none;              /* Remove outline on focus */
}